.heading {
  padding: 10px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #fff;
   color: grey;
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
}

.my-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}
